sudo: false
os:
  - linux
  - osx
  - windows
language: node_js
node_js:
  - '8'
  - '10'
install:
  - npm i npminstall && npminstall
script:
  - npm run ci
after_success:
  - npminstall codecov && codecov -f .nyc_output/*.json
