name: CI

on:
  push:
    branches: [ 5.x ]

  pull_request:
    branches: [ 5.x ]

jobs:
  Job:
    name: Node.js
    uses: node-modules/github-actions/.github/workflows/node-test.yml@master
    with:
      version: '14.19.0, 14, 16, 18, 20'
